{% extends 'layout.html' %}
{% block title %}
<style>
    #response{
        color:green;
    }
</style>
{% endblock %}
{% block body %} 
<h3 id = "response">{{response.message}}</h3>
<form action = "{% url 'delete' %}" method = 'POST'>
    <div class="form-group"></div>
      <!-- <label for="exampleInputEmail1">Book Name</label> -->
      <input type="text" class="form-control" id="book_name" aria-describedby="emailHelp" placeholder="Enter book name" name = 'book'>
      
    </div><br>
    <input type="submit" class="btn btn-primary" value="Submit">

  </form> 
{% endblock %}