{% extends 'layout.html' %} 
{% block title %}
<style>
    table{
        border: 3px solid black;
        border-collapse:collapse;
        width:100%;
    }
    td,th{
        border: 2px solid black;
    }
</style>
{% endblock %}
{% block body %} 
<h1>All Books</h1>

  <h3>
    <div id = "response_single">
    <table>
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Book Author</th>
                <th>Is Issued</th>
                <th>Issued To</th>
            </tr>
        </thead>
        <tbody>
            {% for r in response %}
                <tr>
                    <td>{{r.book_name}}</td>
                    <td>{{r.book_author}}</td>
                    <td>{{r.is_issued}}</td>
                    <td>{{r.issued_to}}</td>       
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    
  </h3>
  <br><br><br><br>
{% endblock %}
